.footer-area {
    padding-top: 100px;
    background-color: $black;
}

.section-gap {
    padding: 120px 0;
}

.h4-footer {
    color: #fff;
    margin-bottom: 25px;
    font-weight: 600;
}

.footer-social a {
    padding-right: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-social i {
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-footer-widget .click-btn {
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 12px;
    border: 0;
    background: linear-gradient(90deg, $primary-color 0%, $darkest-primary-color 100%) !important;
}

.single-footer-widget input {
    border: none;
    width: 80% !important;
    font-weight: 300;
    height: 100%;
    background: $white;
    color: #777;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px 18px;
}